[Unit]
Description=Montana Blotter Flask App
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/root/montanablotter
EnvironmentFile=/root/montanablotter/.env
ExecStart=/root/montanablotter/venv/bin/gunicorn -w 3 --timeout 60 --bind 127.0.0.1:5000 -m 000 app:app
Restart=always
RestartSec=5
StandardOutput=append:/root/montanablotter/gunicorn.log
StandardError=append:/root/montanablotter/gunicorn.log
NoNewPrivileges=true
PrivateTmp=true
ProtectSystem=full
ProtectHome=false

[Install]
WantedBy=multi-user.target
